{% extends 'EnsSylvainDavenelBundle::layout.html.twig' %}

{% block body %}
    Welcome to Sylvain Davenel jobeet website
    </br>
    </br>
    <div>
        {{ dump(result) }}
    </div>
{% endblock %}